<nav layout:fragment="common_nav_header"
  class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">

  <a class="navbar-brand" href="/">Expand at sm</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse"
    data-target="#navbars_header" aria-controls="navbars_header" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbars_header">
  <h>こんにちは、<span sec:authentication="principal.userId"></span>さん</h>
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/user">
          <img th:src="'/icon/svg/person.svg'" width="32" height="32">
          <span >個人設定</span>
        </a>
  </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <img th:src="'/icon/svg/sign-out.svg'" width="32" height="32">
          <span >サインアウト</span>
        </a>
      </li>
    </ul>
  </div>
</nav>